body {
	padding: 20px;
}
.xml-editor, .check {
	height: 300px;
}
.xml-editor {
	position: relative;
	width: 100%;
}
#xml-formatted .ace_cursor-layer {
	opacity: 0;
}
#error {
	overflow: auto;
}
.panel-success .check {
	color: green;
}
.panel-danger .check {
	white-space: pre-wrap;
	font-family: monospace;
	color: red;
}
#copy-formatted {
	display: none;
}
#copy-formatted-done {
	color: green;
	display: none;
	padding-right: 10px;
}