language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

before_install:
  - composer self-update --no-interaction
  - composer install --prefer-dist --no-interaction

script:
  - phpunit

notifications:
  email: false
